/* 
.containerAuth{
    position: 'absolute';
    right: 0;
    margin: '20px';
    max-width: '300px';
    padding: '16px';
    background-color: 'white';
};


.bg-image{
    background-image: url("https://source.unsplash.com/random");
    min-height: '420px';
    background-position: 'center';
    background-repeat: 'no-repeat';
    background-size: 'cover';
    position: 'relative';
}


.login-form,
.signup-form {
  max-width: 350px;
  margin: auto;
}

 */
